<div class="container page-top-space">
  <div class="row">
    <div class="col-8 offset-2">
      <h2>Company policy for <strong><%= @company_policy.company.name %></strong></h2>

      <%= simple_form_for(@company_policy) do |f| %>
        <strong><p>Train policy (ticket to one direction)</p></strong>
        <div class="form-inputs">
          <%= f.input :max_price_train%>
        </div>

        <strong><p>Hotel policy (per night)</p></strong>
        <div class="form-inputs">
          <%= f.input :max_price_hotel%>
        </div>

        <strong><p>Car rental policy (per night)</p></strong>
        <div class="form-inputs">
          <%= f.input :max_price_car%>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Update" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
