<!-- index.html.erb -->
<div class="container page-top-space">
</div>

  <% if @bookings.empty? %>
    <h1 class="text-center">You don't have any bookings yet</h1>
    <div class="btn-center">
      <%= link_to 'Book your first trip now', packages_path, class: "btn btn-custom" %>
    </div>
  <% else %>
    <h1 class="text-center">Your bookings</h1>

      <%@bookings.each do |booking| %>
          <div class="cards-row index-border">
            <div class="card card-2 index-item">
              <div class="card-content">
                <div class="schedules">
                  <ul>
                    <li class="tab active">Inward</li>
                    <li class="tab">Outward</li>
                  </ul>
                  <div class="schedule">
                    <span>
                      <abbr><%= booking.package.train_from.dep_city %> – <%=booking.package.train_from.arr_city%></abbr>
                      <small>
                        <i><%= booking.package.train_from.category %></i>
                        <p><%= booking.package.start_date.strftime('%b %d, %Y') %>, <%= booking.package.train_from.dep_time %> – <%= booking.package.train_from.arr_time %></p>
                      </small>
                    </span>
                  </div>
                  <div class="schedule hidden">
                    <span>
                      <abbr><%= booking.package.train_to.dep_city %> – <%=booking.package.train_to.arr_city%></abbr>
                      <small>
                        <i><%= booking.package.train_from.category %></i>
                        <p><%= booking.package.start_date.strftime('%b %d, %Y') %>, <%= booking.package.train_to.dep_time %> – <%= booking.package.train_to.arr_time %></p>
                      </small>
                    </span>
                  </div>
                </div>
              </div>
              <div class="card-provider">
                <img src="" alt="logo">
                <small>
                  Deutsche Bahn
                  <br>
                  <%= booking.package.train_from.train_number %>
                </small>
              </div>
              <div class="card-price">
                <p><%= booking.package.train_from.price + booking.package.train_to.price %>€ per Trip</p>
              </div>
            </div>

            <div class="card card-2 index-item">
              <div class="card-content">
                <div class="misc">
                  <%= image_tag booking.package.hotel.photo %>
                  <span>
                    <abbr><%= booking.package.hotel.name %></abbr>
                    <small>
                      <i><% booking.package.hotel.stars.times do %>
                        ⭐️
                        <% end %></i>
                      <p><%= booking.package.start_date.strftime('%b %d, %Y') %> – <%= booking.package.end_date.strftime('%b %d, %Y') %></p>
                    </small>
                  </span>
                </div>
              </div>
              <div class="card-provider">
                <img src="" alt="logo">
                <small>
                  <%= booking.package.hotel.address.split(",")[0] %>
                  <br>
                  <%= booking.package.hotel.address.split(",")[1] %>
                </small>
              </div>
              <div class="card-price">
                <p><%=booking.package.hotel.price*(booking.package.end_date - booking.package.start_date).to_i%>€ per Night</p>
              </div>
            </div>

            <div class="card card-2 index-item">
              <div class="card-content">
                <div class="misc">
                  <%= image_tag booking.package.car.photo %>
                  <span>
                    <abbr><%= booking.package.car.name %></abbr>
                    <small>
                      <i><%= booking.package.car.car_category %></i>
                      <p><%= booking.package.start_date.strftime('%b %d, %Y') %> – <%= booking.package.end_date.strftime('%b %d, %Y') %></p>
                    </small>
                  </span>
                </div>
              </div>
              <div class="card-provider">
                <img src="" alt="logo">
                <small>
                  <%= booking.package.car.address.split(",")[0] %>
                  <br>
                  <%= booking.package.car.address.split(",")[1] %>
                </small>
              </div>
              <div class="card-price">
                <p><%=booking.package.car.price*(booking.package.end_date - booking.package.start_date).to_i%>€ per Day</p>
              </div>
            </div>

            <%= link_to 'Cancel this booking', booking_path(booking), method: :delete, data: { confirm: "Are you sure you want to cancel your booking for #{booking.package.start_date.strftime('%b %d, %Y')} - #{booking.package.end_date.strftime('%b %d, %Y')}?" }, class: "btn btn-custom btn-index" %>
          </div>
      <% end %>
    </div>
  <% end %>
