<div class="container-fluid">

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1519227372434-34232246bdad?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9);">
  <div class="booking-headline container text-align-center">
    <h1 style="text-align:center"><strong>✓ Booking confirmed</strong></h1>

  </div>
</div>

  <div class="container">
    <div class="billboard">
      <div class="billboard-details">
        <div class="billboard-details-city">
          <span><%= @booking.package.train_from.dep_city %></span>
          <i><%= @booking.package.start_date.strftime('%b %d, %Y') %></i>
        </div>
        <div class="billboard-details-city">
          <span><%= @booking.package.train_from.arr_city %></span>
          <i><%= @booking.package.end_date.strftime('%b %d, %Y') %></i>
        </div>
      </div>
      <div class="billboard-vanities">
        <div class="billboard-vanity">
          <span> <%= (@booking.package.end_date - @booking.package.start_date).to_i %></span>
          <i>Night(s)</i>
        </div>
        <div class="billboard-vanity">
          <span> <%= @booking.package.hotel.stars %></span>
          <i>Stars Hotel</i>
        </div>
         <div class="billboard-vanity">
          <span>1</span>
          <i>Rental Car</i>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="cards-row">
  <%= render 'shared/booking_train_card' %>
  <%= render 'shared/booking_hotel_card' %>
  <%= render 'shared/booking_car_card' %>
</div>

<br>

<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <%= link_to 'View your bookings', bookings_path, class: "btn btn-custom" %>
      <%= link_to 'Cancel this booking', booking_path(@booking), method: :delete, data: { confirm: "Are you sure you want to cancel your booking for #{@booking.package.start_date.strftime('%b %d, %Y')} - #{@booking.package.end_date.strftime('%b %d, %Y')}?" }, class: "btn btn-custom" %>
    </div>
  </div>
</div>
