<div class="billboard-card">
  <div class="card card-2">
    <div class="card-content">
      <div class="misc">
        <%= image_tag @booking.package.hotel.photo %>
        <span>
          <abbr><%= @booking.package.hotel.name %></abbr>
          <small>
            <i><% @booking.package.hotel.stars.times do %>
              ⭐️
              <% end %></i>
              <p><%= @booking.package.start_date.strftime('%b %d, %Y') %> – <%= @booking.package.end_date.strftime('%b %d, %Y') %></p>
            </small>
          </span>
        </div>
      </div>
      <div class="card-provider">
        <%= image_tag @booking.package.hotel.logo %>
        <small>
          <%= @booking.package.hotel.address.split(",")[0] %>
          <br>
          <%= @booking.package.hotel.address.split(",")[1] %>
        </small>
      </div>
      <div class="card-price">
         <p><%=@booking.package.hotel.price %>€ / Night</p>
      </div>
    </div>
</div>
