<!-- _form.html.erb -->
<%= form_tag packages_path, method: :get do %>
  <%#= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a movie"
  %>
  <div class="form-inputs">
    <label for="deb_city">dasfg</label>
    <%= text_field_tag :dep_city, nil, as: :string, required: false, label: "From" %>
    <%= text_field_tag :arr_city, nil, as: :string, required: false, label: "To" %>
    <%= text_field_tag :start_date, nil, as: :string, required: false, class: "datepicker" %>
    <%= text_field_tag :end_date, nil, as: :string, required: false, class: "datepicker", id: "end_date" %>
  </div>
  <%= submit_tag "Search", class: "btn" %>
<% end %>




<!--   <div class="form-actions">
    <%#= f.submit "Refresh", class: "btn" %>
  </div> -->
