<div class="billboard-card">
  <div class="card card-2">
    <div class="card-content">
      <div class="misc">
        <%= image_tag @package.hotel.photo %>
        <span>
          <abbr><%= @package.hotel.name %></abbr>
          <small>
            <i><% @package.hotel.stars.times do %>
              ⭐️
              <% end %></i>
              <p><%= @package.start_date.strftime('%b %d, %Y') %> – <%= @package.end_date.strftime('%b %d, %Y') %></p>
            </small>
          </span>
        </div>
      </div>
      <div class="card-provider">
        <img src="" alt="logo">
        <small>
          <%= @package.hotel.address.split(",")[0] %>
          <br>
          <%= @package.hotel.address.split(",")[1] %>
        </small>
      </div>
      <div class="card-price">
        <p><%=@package.hotel.price %>€ per Night</p>
      </div>
    </div>
</div>
