<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <div class="container">

    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://image.flaticon.com/icons/svg/433/433334.svg" %>
      <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav mr-auto">

        <% if user_signed_in? %>

          <div class="nav-flex">
            <div class="nav-item">
              <%= current_user.first_name %> <%= current_user.last_name %> (<%= current_user.company.name %>)
            </div>
            <div class="nav-item">
              <%= link_to "My Bookings", bookings_path, class: "nav-link" %>
            </div>
            <% if current_user.admin %>
              <div class="nav-item">
                <%= link_to "All Bookings", all_bookings_path, class: "nav-link" %>
              </div>
              <div class="nav-item">
                <%= link_to "Company policy", edit_company_policy_path(current_user.company.company_policy.id), class: "nav-link" %>
              </div>
            <% end %>
            <div class="nav-item">
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
            </div>
          </div>

        <% else %>
          <div class="nav-item">
            <%= link_to new_user_session_path, class: "nav-link" do %>
              <i class="fas fa-cog"></i> Login
            <% end %>
          </div>

        <% end %>

      </div>
    </div>

  </div>
</div>
