<div class="col-12 container">
  <div class="search-form <%= locals[:cl] %>">
    <%= form_tag packages_path, method: :get do %>

      <div class="form-inputs">

        <div class="form-group-all">
          <div class="form-group form-group-duo">
            <div class="labeled-input">
              <label for="dep_city">From</label>
                <%= text_field_tag :dep_city, nil, as: :string, required: false, class: "form-control", value: params[:dep_city] %>
            </div>
            <div class="labeled-input">
              <label for="dep_city">To</label>
                <%= text_field_tag :arr_city, nil, as: :string, required: false, class: "form-control", value: params[:arr_city] %>
            </div>
          </div>

          <div class="form-group">
            <div class="labeled-input">
              <label for="dep_city">Start</label>
                <%= text_field_tag :start_date, nil, as: :string, required: false, class: "datepicker", value: params[:start_date] %>
              <br>
            </div>
            <div class="labeled-input">
              <label for="dep_city">End</label>
                <%= text_field_tag :end_date, nil, as: :string, required: false, class: "datepicker form-control", value: params[:end_date] %>
            </div>
          </div>
          </div>
          <%= submit_tag "Search", class: "btn-custom" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

