<!-- index.html.erb -->
<%if current_user.admin %>
  <div class="container page-top-space">
    <%= render 'shared/hr_header' %>
    <%= render 'shared/hr_navigation' %>

    <div class="row">
      <div class="col-12">
        <% if @bookings.empty? %>
          <h1>Your company doesn't have any bookings yet</h1>
          <div class="btn-center">
            <%= link_to 'Book your first trip now', packages_path, class: "btn btn-custom" %>
          </div>
        <% else %>
          <h2>Bookings for <%= current_user.company.name %></h2>
          <ul style="list-style-type: none;">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <%@bookings.each do |booking| %>
                  <li class="booking-item">
                    <div>
                      <p><strong>Employee: <%= booking.user.first_name %> <%= booking.user.last_name %></strong></p>
                      <p><strong>Booking from: <%= booking.created_at.strftime('%a, %d %b %Y %l:%M %p') %> </strong></p>
                      <p><strong>Booking status: <%= booking.status %> </strong></p>
                      <p><strong>Dates: </strong><%= booking.package.start_date.strftime('%b %d, %Y') %> - <%= booking.package.end_date.strftime('%b %d, %Y') %></p>
                      <p><strong>Total price: </strong><%= booking.package.price %> €</p>
                      <br>
                    </div>
                    <div class="btn-bottom">
                      <%= link_to 'Cancel this booking', booking_path(booking), method: :delete, data: { confirm: "Are you sure you want to cancel the booking for #{booking.package.start_date.strftime('%b %d, %Y')} - #{booking.package.end_date.strftime('%b %d, %Y')}?" }, class: "btn btn-custom" %>
                    </div>
                  </li>
                <% end %>
              </div>
            </div>
          </div>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="container page-top-space">
    <div class="row">
      <div class="column">
        <h1 class="text-center">You're not authorized to perform this action</h1>
      </div>
    </div>
  </div>
<% end %>
