<%if current_user.admin %>
  <div class="container page-top-space">
    <%= render 'shared/hr_header' %>
    <%= render 'shared/hr_navigation' %>
    <h2>Costs per category</h2>
    <div class="cards-row">
      <div class="card card-2 hr-card">
        <div class="card-content">
          <div class="misc">
            <span>
              <abbr>Hotel</abbr>
              <p><%= current_user.company.spend_on_hotels %> €</i></p>
              <small>Total cost in selected month</small>
            </span>
          </div>
        </div>
      </div>
      <div class="card card-2 hr-card">
        <div class="card-content">
          <div class="misc">
            <span>
              <abbr>Train</abbr>
              <p><%= current_user.company.spend_on_trains %> €</i></p>
              <small>Total cost in selected month</small>
            </span>
          </div>
        </div>
      </div>
      <div class="card card-2 hr-card">
        <div class="card-content">
          <div class="misc">
            <span>
              <abbr>Car rental</abbr>
              <p><%= current_user.company.spend_on_cars %> €</i></p>
              <small>Total cost in selected month</small>
            </span>
          </div>
        </div>
      </div>
    </div>
  <br>
  <h2>Employees travel costs</h2>
  <% current_user.company.top_users.each do |user, total| %>
    <p><%= user.first_name %> <%= user.last_name %>: <%= number_with_delimiter(total, :delimiter => ' ') %> €</p>
  <% end %>
  </div>
<% else %>
  <div class="container page-top-space">
    <div class="row">
      <div class="column">
        <h1 class="text-center">You're not authorized to perform this action</h1>
      </div>
    </div>
  </div>
<% end %>
